body {
    color: #fff
}

.pure-img-responsive {
    max-width: 100%;
    height: auto
}

.logo-img {
    width: 150px;
    background: #fff
}

#layout, #menu, .menu-link {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out
}

#layout {
    position: relative;
    left: 0;
    padding-left: 0
}

#layout.active #menu {
    left: 175px;
    width: 175px
}

#layout.active .menu-link {
    left: 175px
}

.content {
    margin: 0 auto;
    padding: 0 2em;
    color: #000000;
    max-width: 1024px;
    margin-bottom: 50px;
    line-height: 1.6em
}

.content h5 {
    color: #aaa;
    margin: 2px
}

.header {
    margin: 0;
    color: #333;
    text-align: center;
    padding: 0 2em 0;
    border-bottom: 1px solid #eee
}

.header h1 {
    color: #000000;
    margin: 0.2em 0;
    font-size: 3em;
    font-weight: 300
}

.header h2 {
    font-weight: 300;
    color: #333;
    padding: 0;
    margin-top: 0
}

.header h3 {
    color: #333
}

.content-subhead {
    margin: 50px 0 20px 0;
    font-weight: 300;
    color: #222
}

#menu {
    margin-left: -175px;
    width: 175px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    background: #191818;
    overflow-y: auto
}

#menu a {
    color: #DDD;
    border: none;
    padding: 0.6em 0 0.6em 0.6em
}

#menu .pure-menu, #menu .pure-menu ul {
    border: none;
    background: transparent
}

#menu .pure-menu .menu-item-divided {
    border-top: 1px solid #333
}

#menu .pure-menu li a:hover {
    background: #FFD700;
    color: #000000;
}

#menu .pure-menu-selected {
    color: #FFF;
    background: #0057B7;
    font-weight: bold;
}

#menu .pure-menu-heading {
    background: #fff
}

#menu .pure-menu-selected a {
    color: #FFFFFF;
    background: #0057B7;
}

#menu .pure-menu-heading {
    font-size: 110%;
    color: #fff;
    margin: 0
}

.menu-link {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.1);
    font-size: 10px;
    z-index: 10;
    width: 2em;
    height: auto;
    padding: 2.1em 1.6em
}

.menu-link:hover, .menu-link:focus {
    background: rgba(0, 0, 0, 0.1)
}

.menu-link span {
    position: relative;
    display: block
}

.menu-link span, .menu-link span:before, .menu-link span:after {
    background-color: #fff;
    width: 100%;
    height: 0.2em
}

.menu-link span:before, .menu-link span:after {
    position: absolute;
    margin-top: -0.6em;
    content: " "
}

.menu-link span:after {
    margin-top: 0.6em
}

@media (min-width: 48em) {
    .header, .content {
        padding-left: 2em;
        padding-right: 2em
    }

    #layout {
        padding-left: 175px;
        left: 0
    }

    #menu {
        left: 175px
    }

    .menu-link {
        position: fixed;
        left: 175px;
        display: none
    }

    #layout.active .menu-link {
        left: 175px
    }
}

@media (max-width: 48em) {
    #layout.active {
        position: relative;
        left: 175px
    }
}

@media (prefers-reduced-motion: reduce) {
    *, ::before, ::after {
        animation-delay: -1ms !important;
        animation-duration: 1ms !important;
        animation-iteration-count: 1 !important;
        background-attachment: initial !important;
        scroll-behavior: auto !important;
        transition-duration: 0s !important;
        transition-delay: 0s !important
    }
}
